$font-stack:    "Helvetica Neue",Helvetica,Arial,sans-serif;
$primary-color: #333;
$link-color: #0000ff;
body {
  font-family: 100% $font-stack;
  color: $primary-color;
}

a {
  color:$link-color;
}
